
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    /* overflow: hidden; */
}
.card{
    box-shadow: 0px 4px 8px  0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.container-for-all{
    max-width: 100%;
    height: 80vh;
    background-color: rgb(240,242,245);
    /* background-color: black; */
}
.page-container{
   height: 70vh;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    

}
.form-side{
    justify-content: center;
    display: flex;
    padding-top: 40px;
}

.p{
    color: rgb(28,30,33);
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: small;
}
.text1{
    font-size: small;
    color: red;
}
.sep-text{
    text-decoration: none;
    color: red;
    font-size: small;
    font-weight: bold;
    line-height:30px;
    vertical-align:baseline;

}
.sep-text:hover{
    text-decoration: underline;
}
.input-all{
    width: 400px;
    padding: 12px;
    
}

.input{
    background-color: white;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border:1px solid red;
    border-radius: 8px;
    padding: 10px;
}
.text{
    color: red;
}

.butt{
    
    width: 100%;  
}

.aa{
    text-decoration: none;
    margin: 15px 0px;
    text-align: center;
}
.aa:hover{
    text-decoration: underline;
    
}

.facebook-logo{
    color: rgb(24,119,242);
    line-height:30px;
    font-family:Helvetica Arial sans-serif;
    font-weight: bold;
    font-size: 60px;
    vertical-align:baseline;
    letter-spacing:normal;
    justify-content: center;
    display: flex;
}

.a-a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.a-a:hover{
    text-decoration: underline;
    word-spacing: 2px;
}
.center-wrapper{
    justify-content: center;
    display: flex;
}
