*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodyy{
    background-color: white;
    width: 25%;
    height:400px;
    justify-content: center;
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 7%;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(48, 47, 47)

}
h1{
    position: absolute;
    top: 5%;
    left: 600px;
    color: rgb(24,119,242);
    font-weight: bold;

}
h4{
    padding-top: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    padding-left: 100px;
}
.first{
    
     background-color: white;
    margin-top: 25px;
    height: 50px;
    width: 330px;
    margin-left: 15px;
    text-align: start;
    padding-left: 15px;
    border: none;
    border:1px solid rgb(240, 16, 16);
    border-radius: 5px; 
    
}
.second{
    background-color: white;
    margin-top: 11px;
    height: 50px;
    width: 330px;
    margin-left: 15px;
    text-align: start;
    padding-left: 15px;
    border: none;
    border:2px solid rgb(223, 221, 221);
    border-radius: 5px; 

}
.butt{
    margin-left: 20px;
    margin-top: 39px;
    margin-top: 25px;
    width: 330px;
}
.a-a{

    text-decoration: none;
    font-weight:100;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;

}
p{
    color: red;
    margin-left: 15px;
    font-size: small;
    font-weight: light;
}
.a-a:hover{
    text-decoration: underline;
   }
   span{
    text-decoration: none;
   }
   span{
    text-decoration: underline;
    color: red;
   }
#link{
    text-decoration: underline;
}